%h2{:class => cls}
  = succeed "(#{invocation})" do
    %span.entry{:id => "#{cls}-#{name.gsub /_/, '-'}"}= name
%dl
  %dt Parameters:
  %dd
    %ul
      - params.each do |p|
        %li
          :markdown
            **#{p[:name]}** (`#{p[:type]}`) &mdash; #{p[:documentation]}
  %dt Returns:
  %dd
    :markdown
      (`#{m[:ret_type]}`) #{m[:ret_documentation]}
:markdown
  #{m[:documentation]}
